<h1> Deals under &#36;<%= @limit %> </h1>
<div id='wrapper'>

    <% @products.each do |product| %>
    <a href='/products/<%= product.id %>'>
        <div class='product'>
            <div class='thumb'>
                <img src='<%= product.url %>' />
            </div>
            <div class='caption'>
                <%= product.title %> for &#36;<%= product.price %> only!
            </div>
        </div>
    </a>
    <% end %>
</div>